/* Menghindari scroll horizontal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  min-height: 3000px;
} */

/* body {
  overflow-x: hidden; Menghilangkan scroll horizontal
} */

.jumbotron {
  padding-top: 5rem;
  background-color: #99b3e1;
  
}

#projects {
  background-color: #99b3e1;
}

/* #projects .container {
  background-color: #99b3e1;
} */

section {
  padding-top: 5rem;
}

#contact {
  background-color: #99b3e1;
}
